
@if (Session["Taikhoan"] != null)
{
    if (Session["GioHang"] != null)
    {
        <li>
            <p></p><a href="@Url.Action("GioHang", "GioHang")"><i class="fa fa-shopping-cart"></i>Giỏ hàng</a>
        </li>

    }
    else
    {
        <li>Chưa mua hàng.</li>
    }
    <li><a class="color4" href="#">Chào @Session["TenKhachHang"] |</a></li>
    <li><a href="~/NguoiDung/ThongTinTaiKhoan/@Session["MaTKKH"]"><i class="fa fa-external-link"></i> Thông tin tài khoản |</a></li>
    <li><a class="color4" href="@Url.Action("logout", "Nguoidung")" style="color:#18C9D2">Thoát</a></li>
}
else
{
    <li><a href="@Url.Action("DangKyNguoiDung", "NguoiDung")"><i class="fa fa-shopping-cart"></i>Đăng ký</a></li>
    <li><a href="@Url.Action("DangNhap", "NguoiDung")"><i class="fa fa-lock"></i>Đăng nhập</a></li>
}