@model WebsiteBanDogo.Models.HANGHOA

@{
    ViewBag.Title = "XoaSanPham";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
}

<h2>XoaSanPham</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HANGHOA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLoaiHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoaiHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenMatHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMatHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KichThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiGo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiGo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaoHanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaoHanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BanChay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BanChay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaMoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaMoi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa sản phẩm" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index", "Admin")
        </div>
    }
</div>
