@using WebsiteKinhDoanhDoGoCuongThai.Models
@model List<GioHang>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}

@section LienHeRenderSection {
    <h2 style="text-align: center">THÔNG TIN GIỎ HÀNG</h2> 
    <h3>@ViewBag.Thongbao</h3>
    <table class="table table-condensed">
        <thead>
            <tr class="cart_menu">
                <td class="image" width="10%;">Hình ảnh</td>
                <td class="description" width="20%;" >Tên sản phẩm</td> 
                <td class="quantity" width="7%;">Số lượng</td>
                <td class="price" width="15%;">Giá</td>
                <td class="total" width="20%;">Tổng tiền</td> 
                <td style="float: left; " >Xử lý</td> 
            </tr>
        </thead> 
        <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td class="cart_product">
                    <a href=""> 
                        <img style="width: 50%; height:70%" src="~/Pictures/@item.sAnhBia" id="anhbia" alt="@item.sAnhBia" />
                    </a> 
                </td>
                <td class="cart_description" height="100px">
                    <p width="1%;"><a href="">@item.sTenHangHoa</a></p>
                    <p>@item.sMaMatHang</p>
                </td>
                @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @MaMatHang = item.sMaMatHang }))
                {
                    @Html.ValidationSummary(false)
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <input type="number" name="txtSoLuong" min="1" value="@item.iSoLuong" style="background-color:yellow; width: 60%;" />@ViewData["txtSoLuongHang"]
                        </div>
                    </td>
                    <td class="cart_price">
                        <p>@String.Format("{0:0,0}", item.dGiaMoi) VND</p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">@String.Format("{0:0,0}", item.dThanhTien) VND</p>
                    </td>
                    <td class="cart_product" style="float: left;">
                        <a href="@Url.Action("XemChiTiet", "DoGo", new {@MaMatHang = item.sMaMatHang })">Chi tiết</a>
                        <br />
                        @*<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>*@
                        <a class="cart_quantity_delete" href="@Url.Action("XoaGioHang", "GioHang", new {@MaMatHang = item.sMaMatHang })">Xóa</a>
                        <br />
                        <input type="submit" value="Cập nhật" />
                    </td>
                }
            </tr> 
        }
        <tr style="font-weight: bold; text-align: right; color: red">
            <td colspan="4">Số lượng sản phẩm: @ViewBag.TongSoLuong</td>
            <td colspan="5">Tổng tiền: @String.Format("{0:0,0}", ViewBag.TongTien) VND</td>
        </tr>
        <tr style="font-weight: bold; color: blue; text-align: right">
            <td colspan="9">
                @Html.ActionLink("Xóa giỏ hàng", "XoaTatCaGioHang")
            </td>
        </tr>
        <tr style="font-weight: bold; color: blue; text-align: right">
            <td colspan="9" align="center"> 
                @Html.ActionLink("ĐẶT HÀNG", "DatHang", "GioHang")
            </td>
        </tr> 
        </tbody>
    </table>
}
        
<style>
    #slider, .left-sidebar, .padding-right  {
        display: none;
    } 

    #padding-right{
        width: 100%;
    }

    #col-sm-9{
        width: 100%;
    }
</style>