@using WebsiteBanDogo.Models
@using PagedList.Mvc
@model PagedList.PagedList<HANGHOA>


@{
    ViewBag.Title = "layhangYeuThich";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}

<div class="features_items">
    <h2 class="title text-center">Danh sách sản phẩm yêu thích</h2>
    <h2 class="title text-center">@ViewBag.ThongBao</h2>
    @{int dem = 0;}
    @foreach (var item in Model)
    {
        dem++;
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        @if (@item.KhuyenMai != 0)
                        {
                            <div class="offer">- @item.KhuyenMai%</div>
                        }
                        <img src="~/Pictures/HangHoa/@item.HinhAnh" alt="@item.HinhAnh" style="width: 60%; height: 100%" />
                        <h2>@String.Format("{0:0,0}", item.DonGia) VND</h2>
                        @if (@item.TenMatHang.Length < 20)
                        {
                            <p>@item.TenMatHang</p>
                        }
                        else
                        {
                            <p> @item.TenMatHang.Substring(0, 20)...</p>
                        }
                        <a href="@Url.Action("XemChiTiet","DoGo", new {id = item.MaMatHang})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
                    </div> 
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
                        @*<li><a href="#"><i class="fa fa-plus-square"></i>Góp ý </a></li>*@
                        <li><a href="@Url.Action("XoaSPYeuThich", "DoGoStore", new { MaMatHang = @item.MaMatHang, @strURL = Request.Url.ToString() }) "><i class=" fa fa-shopping-cart"></i>Xóa yêu thích</a></li>
                    </ul>
                </div>
            </div>
        </div>
        if (dem == 3)
        {
            <div style="clear:both"></div>
            dem = 0;
        }
    }
</div> 
@*Tạo liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Trong tổng số @Model.PageCount Trang;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("DShangYeuThich", new { page = page }))
</div>

 
<style>
    #cart_items, .XemChiTiet {
        display: none;
    }

    .offer {
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 99;
        padding: 10px;
        font-size: 18px;
        color: #fff;
        background: #f7544a;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .recommended_items {
        display: block;
    }
</style> 