@using WebsiteBanDogo.Models
@using PagedList.Mvc;
@using PagedList;
@model IPagedList<HANGHOA>

@{
    ViewBag.Title = "Kết quả tìm kiếm sản phẩm";
    Layout = "~/Views/Layout/LayoutUser.cshtml";  
}

<div class="features_items">
    <h2 class="title text-center">Tên sản phẩm có chuỗi: @ViewBag.chuoiTimKiem</h2>
    <h3 class="title text-center">@ViewBag.ThongBao.</h3>

    @{int dem = 0;}
    @foreach (var item in Model)
    {
        dem++;
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/Pictures/HangHoa/@item.HinhAnh" alt="@item.TenMatHang" style="width: 60%; height: 100%" />
                        <h2>@String.Format("{0:0,0}", item.DonGia) VND</h2>
                        @if (@item.TenMatHang.Length < 20)
                        {
                            <p>@item.TenMatHang</p>
                        }
                        else
                        {
                            <p> @item.TenMatHang.Substring(0, 20)...</p>
                        }
                        <a href="@Url.Action("XemChiTiet","DoGo", new {@MaMatHang = item.MaMatHang})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
                    </div>
                    <div class="product-overlay">
                        <img src="/Pictures/HangHoa/@item.HinhAnh" alt="@item.TenMatHang" style="width: 60%; height: 100%; margin-left:20%; padding-bottom: 50%" />
                        <div class="overlay-content">
                            <h2>@String.Format("{0:0,0}", item.DonGia) VND</h2>
                            @if (@item.TenMatHang.Length < 20)
                            {
                                <p>@item.TenMatHang</p>
                            }
                            else
                            {
                                <p> @item.TenMatHang.Substring(0, 20)...</p>
                            }
                            <a href="@Url.Action("XemChiTiet","DoGo", new {id = item.MaMatHang})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Góp ý </a></li>
                    </ul>
                </div>
            </div>
        </div>
        if (dem == 3)
        {
            <div style="clear:both"></div>
            dem = 0;
        }
    }
</div>

@*Tạo liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Trong tổng số @Model.PageCount Trang;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("KetQuaTimKiem", new { page = page, @chuoiTimKiem = ViewBag.chuoiTimKiem }))
</div>

<style>
    /*.hinhanh {
        width: 4%;
        height: 4%;
    }*/

    #cart_items {
        display: none;
    }

    .XemChiTiet {
        display: none;
    }
</style> 