@using WebsiteKinhDoanhDoGoCuongThai.Models
@using PagedList.Mvc
@model PagedList.PagedList<HANGHOA>

@{
    ViewBag.Title = ViewBag.TenLoai + "| DoGoCuongThai.com";
    ViewBag.Description = ViewBag.TenLoai +  " cung cấp mặt hàng đồ gỗ tốt nhất hiện nay.";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}

<div class="features_items"> 
    <h2 class="title text-center">@ViewBag.TenLoai</h2> 
    @{int dem = 0;}
    @foreach (var item in Model)
    {
        dem++;
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="~/Pictures/HangHoa/@item.HinhAnh" alt="@item.HinhAnh" style="width: 60%; height: 100%" />
                        <h2>@String.Format("{0:0,0}", item.DonGia) VND</h2>
                        @if (@item.TenMatHang.Length < 20)
                        {
                            <p>@item.TenMatHang</p>
                        }
                        else
                        {
                            <p> @item.TenMatHang.Substring(0, 20)...</p>
                        }
                        <a href="@Url.Action("XemChiTiet","DoGo", new {@MaMatHang = item.MaMatHang})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
                    </div>
                    @*<img src="images/home/new.png" class="new" alt="" />*@
                    @if (@item.BanChay == true)
                    {
                        <img src="~/Pictures/imagesTemplate/home/new.png" class="new" alt="" />
                    }
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>So sánh</a></li>
                        @*<li><a href="#"><i class="fa fa-plus-square"></i>Góp ý </a></li>*@
                        <li><a href="@Url.Action("ThemGioHang", "GioHang", new { @MaMatHang = item.MaMatHang, @strURL = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i>đặt mua</a></li>
                    </ul>
                </div>
            </div>
        </div>
        if (dem == 3)
        {
            <div style="clear:both"></div>
            dem = 0;
        }
    }
</div>

@*Tạo liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) Trong tổng số @Model.PageCount Trang;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>

<style>
    #cart_items, .XemChiTiet {
        display: none;
    }

    .recommended_items {
        display: block;
    }
</style> 