@using WebsiteKinhDoanhDoGoCuongThai.Models
@model HANGHOA
 
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}

@section XemChiTiet {  
    <div class="product-details"> 
        <!--product-details-->
        <h3>CHI TIẾT SẢN PHẨM</h3>
        <div class="col-sm-5">
            <div class="view-product"> 
                <img src="@Url.Content("~/Pictures/HangHoa/" + Model.HinhAnh)" class="img-responsive" />  
            </div>
        </div>
        <div class="col-sm-7">
            <div class="product-information">  
                <h2>@Model.TenMatHang</h2> 
                <span> 
                    @if (Model.KhuyenMai == 0)
                    {
                        <span class="actual item_price">@String.Format("{0:0,0}", Model.DonGia) VNĐ</span>
                    }
                    else
                    {
                        <span style="color:red" class="reducedfrom">@String.Format("{0:0,0}", Model.DonGia) VNĐ</span>
                        <span class="actual item_price">@String.Format("{0:0,0}", Model.GiaMoi) VNĐ</span>
                    }
                </span>
                <table>
                    <tr>
                        <th>Mã sản phẩm: </th>
                        <td>@Model.MaMatHang</td>
                    </tr>
                    <tr>
                        <th>Kích thước: </th>
                        <td>@Model.KichThuoc</td>
                    </tr>
                    <tr>
                        <th>Loại gỗ: </th>
                        <td>@Model.LoaiGo</td>
                    </tr>
                    <tr>
                        <th>Bảo hành: </th>
                        <td><p style="color: red; font-size: 18pt;">@Model.BaoHanh Tháng</p></td>
                    </tr>
                </table>
                
                @*<label>Quantity:</label>
                <input type="text" value="3" />*@
                @*<div class="fb-like" data-href="https://localhost:44302/DoGo/XemChiTiet" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>*@
                <div class="fb-like" data-href="https://localhost:44302/DoGo/XemChiTiet/&#064;Model.TenMatHang" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

                <a href="#"><img style="height: 60px; width:250px;" src="~/Pictures/Loadingimage/icon-payment.png" /></a>
                <button type="button" class="btn btn-fefault cart" id="MUA">  
                    <p style="font-size: 20pt; font-weight: bold; color: blue;"><a href="@Url.Action("ThemGioHang", "GioHang", new { @sMaMatHang = @Model.MaMatHang, @strURL = Request.Url.ToString() })">ĐẶT MUA</a></p>
                </button>  
                @*<a href="#"><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>*@
                
            </div>  
        </div>
        @*<div class="fb-comments" data-href="https://localhost:44302/DoGo/XemChiTiet/@Model.TenMatHang" data-numposts="5"></div>*@
        <div class="fb-comments" data-href="https://localhost:44302/DoGo/XemChiTiet/&#064;Model.TenMatHang" data-numposts="5"></div>
    </div>   


@*<div class="recommended_items">
    @Html.Action("layHangBanChay", "DoGoStore")
</div>*@
} 

@*Css Thong tin sach*@
<style> 
    #MUA{
        background: -moz-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6f0a3), color-stop(50%,#d2e638), color-stop(51%,#c3d825), color-stop(100%,#dbf043)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* IE10+ */
			background: -o-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Opera 11.1*/
    }
     
    #slider, .brands_products{
        display: none;
    }    

    
</style>  
 