@model WebsiteKinhDoanhDoGoCuongThai.Models.KHACHHANG
@using BotDetect.Web.Mvc;

@* Đăng ký Capcha*@
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{ MvcCaptcha dangkyCapcha = new MvcCaptcha("dangkyCapcha"); }
 
@{
    ViewBag.Title = "Đăng ký người dùng";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}
  
<div class="container" id="KhungDangKy">
    <div class="row">
        <div class="col-sm-4">
            <div class="signup-form">
                <!--sign up form-->
                <h2>Đăng ký</h2>
                <h2>@ViewBag.success</h2>
                <h2 style="color: red; font-size: 16pt;">@ViewBag.ThongBao</h2>
                @using (Html.BeginForm())
                {
                    
                    @Html.ValidationSummary(false)
                    @*<p>* Tên khách hàng:    </p>*@<input type="text" placeholder="Tên khách hàng......" maxlength="50" name="HotenKH" required />
                    @*<p>* Tên đăng nhập:     </p>*@<input type="text" placeholder="Tên đăng nhập......" maxlength="20" name="TenDangNhap" required /><strong style="color: red;"> @ViewData["txtTenDangNhap"]</strong> 
                    @*<p>* Mật khẩu:          </p>*@<input type="password" placeholder="Mật khẩu......" maxlength="50" name="MatKhau" required /> 
                    @*<p>* Nhập lại mật khẩu: </p>*@<input type="password" placeholder="Xác nhận lại mật khẩu......" maxlength="50" name="NhapLaiMatKhau" required /> <strong style="color: red;">@ViewData["txtNhapLaiMatKhau"]</strong>
                    @*<p>* Địa chỉ:           </p>*@<input type="text" placeholder="Địa chỉ......" maxlength="100" name="DiaChi" required />
                    @*<p>* Địa chỉ Email:     </p>*@<input type="email" placeholder="NguyenVanTan123456@yahoo.com.vn" maxlength="100" name="Email" required /><strong style="color: red;"> @ViewData["txtEmail"]</strong>
                    @*<p>* Số điện thoại      </p>*@<input type="number" placeholder="Số Điện thoại" maxlength="15" oninput="maxLengthCheck(this)" name="SoDienThoai" required /><strong style="color: red;"> @ViewData["txtSoDienThoai"]</strong>
                    @*<p>* Tài khoản: (Số tài khoản không vượt quá 16 chữ số.)</p>*@<input type="number" placeholder="Số tài khoản" min="100000000000" max="999999999999" oninput="maxLengthCheck(this)" maxlength="16" name="SoTaiKhoan" required /><strong style="color: red;"> @ViewData["txtTaiKhoan"]</strong>
                    //Captcha
                    <div id="Captcha">
                        @Html.Captcha(dangkyCapcha);
                        @Html.TextBox("CaptchaCode")
                    </div> 
                    <button type="submit" class="btn btn-default" value="Đăng ký">Đăng ký</button> 
                }
                
            </div><!--/sign up form-->
        </div>
    </div>
</div>

<style>
    #slider, .left-sidebar,  .recommended_items{
        display: none;
    }  

    #KhungDangKy {
        margin-left: 15%;
        float: initial;
    }
</style>

<script>
    function maxLengthCheck(object) {
        var placeholder = object.placeholder;
        var t = placeholder + " là: " + object.maxLength + " Chữ số.";

        if (object.value.length > object.maxLength) {
            object.value = object.value.slice(0, object.maxLength);
            alert(t);
        } 
    }
</script>

