
@using BotDetect.Web.Mvc;


@{
    ViewBag.Title = "LayMatKhau";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}  


@* Đăng ký Capcha*@
<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
@{ MvcCaptcha quenMatKhauCapcha = new MvcCaptcha("quenMatKhauCapcha"); }




<div class="container" id="KhungDangnhap">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <!--login form-->
                <div>
                    <h2 style="text-align: center;">QUÊN MẬT kHẨU</h2>
                    <div>
                        <h1 style="text-align: center; color:blue;">@ViewBag.success</h1>
                    </div>
                    
                    <h2 style="text-align: center;">@ViewBag.ThongBao</h2>
                </div>
                <div style="border: 1px;">
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <p>Tài khoản: <input type="text" placeholder="Tài Khoản...." maxlength="20" name="TenDangNhap" title="Không bỏ trống." required /><strong style="color:red;">@ViewData["txtTenDangNhap"]</strong></p>
                        <p>Email:     <input type="password" placeholder="Email....." maxlength="50" name="Email" title="Không bỏ trống." required /><strong style="color:red;">@ViewData["txtEmail"]</strong></p>
                        @*<div id="Captcha">
                            @Html.Captcha(quenMatKhauCapcha)
                            @Html.TextBox("CaptchaCode")
                        </div>*@
                        if (!quenMatKhauCapcha.IsSolved)
                        {
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    @Html.Captcha(quenMatKhauCapcha)
                                </div>


                                @Html.Label("Mã An toàn", new {
                                   @class = "col-md-4 control-label",
                                   @for = "CaptchaCode"
                               })

                                <div class="col-md-8">
                                    @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                                </div>
                            </div>
                        }
                        <button type="submit" class="btn btn-default">Lấy mật khẩu</button>
                    }
                </div>
            </div><!--/login form-->
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/captcha.validate.js")
