@model WebsiteBanDogo.Models.HANGHOA

@{
    ViewBag.Title = "SuaSanPham";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
} 
<div class="main-content">
    <div class="row">
        <div class="col-md-4">
            <br> 
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane active in" id="home"> 
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.MaMatHang)
                    <form id="tab">
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.MaLoaiHang, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div >
                                @Html.DropDownList("MaLoaiHang")
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Tên sản phẩm:</label>
                            <input name="TenSanPham" type="text" value="@Model.TenMatHang" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Giá sản phẩm</label>
                            <input name="GiaSanPham" type="text" value="@Model.DonGia" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Khuyến mãi:</label>
                            <input name="KhuyenMai" type="text" value="@Model.KhuyenMai" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Kích thước:</label>
                            <input name="KichThuoc" type="text" value="@Model.KichThuoc" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Hình ảnh:</label>
                            <input type="file" name="fileUpload" />
                            <img src="@Url.Content("/Pictures/HangHoa/" + Model.HinhAnh)" />
                            <h2>@ViewBag.ThongBao</h2>
                        </div>

                        <div class="form-group">
                            <label>Loại gỗ:</label>
                            <input name="LoaiGo" type="text" value="@Model.LoaiGo" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Bảo hành:</label>
                            <p><input name=" BaoHanh" type="text" value="@Model.BaoHanh" class="form-control"> (Tháng)</p>
                        </div>
                        <div class="form-group">
                            <label class="lb-mid">Chọn ngày nhập sản phẩm:    </label>
                            <input type="date" name="NGAYNHAP" value="@Model.NgayNhap" required /> 
                            @Html.ValidationMessageFor(model => model.NgayNhap)
                        </div>

                        <div class="form-group">
                            <label>Mô tả</label>
                            <textarea name="MoTa" value="Smith" rows="3" class="form-control">
                                @Model.MoTa
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label>Link thanh toán:</label>
                            <input type="text" name="LINKTHANHTOANOL" value="@Model.LinkThanhToan" size="100" />
                            @*@Html.ValidationMessageFor(model => model.LinkThanhToan)*@
                        </div>

                        <div class="btn-toolbar list-toolbar">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Lưu</button>
                            <a href="/Admin/Index" data-toggle="modal" class="btn btn-danger">Hủy</a>
                        </div>
                    </form> 
                }
                </div> 
            </div> 
        </div>
    </div>
</div>