
@using WebsiteKinhDoanhDoGoCuongThai.Models
@model List<HANGHOA>

@foreach (var item in Model)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="/Pictures/HangHoa/@item.HinhAnh" alt="" class="img-responsive" />
                    @if (@item.BanChay == true)
                    {
                        <img src="~/Pictures/imagesTemplate/home/new.png" class="new img-responsive" alt="" style="height: 20%; width: 20%">
                    }  
                    <h2>@String.Format("{0:0,0}", item.DonGia) VND</h2>
                    @if (@item.TenMatHang.Length < 20)
                    {
                        <p>@item.TenMatHang</p>
                    }
                    else
                    {
                        <p> @item.TenMatHang.Substring(0, 20)...</p>
                    }
                    <a href="@Url.Action("XemChiTiet","DoGo", new {@MaMatHang = item.MaMatHang})" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
}

